<header>
    <h3 class="naslov">Lekarska ordinacija Petrov</h3>
</header>

<img *ngIf="loggedUser.slika" [src]="loggedUser.slika" alt="Client Image" width="40px" height="40px">
&nbsp;&nbsp;&nbsp;
<select [(ngModel)]="selectedPage" (change)="onSelectChange($event)" class="navigation">
    <option>Profil</option>
    <option>Lekari</option>
    <option>Pregledi</option>
    <option>Obavestenja</option>
</select>

<br>
<button (click)="updatingImg = true" *ngIf="!updatingImg">Azuriraj sliku</button>
<input type="file"  accept="image/*" (change)="onFileSelected($event)"  [(ngModel)]="selectedFile" required *ngIf="updatingImg">
<button *ngIf="updatingImg" (click)="updateImg()">Posalji</button>
<table>
    <tr>
        <td><b>Ime:</b></td>
        <td *ngIf="!updating">{{loggedUser.ime}}</td>
        <td *ngIf="updating">
            <input type="text" [(ngModel)]="updatedUser.ime">
        </td>
    </tr>
    <tr>
        <td><b>Prezime:</b></td>
        <td *ngIf="!updating">{{loggedUser.prezime}}</td>
        <td *ngIf="updating">
            <input type="text" [(ngModel)]="updatedUser.prezime">
        </td>
    </tr>
    <tr>
        <td><b>Adresa:</b></td>
        <td *ngIf="!updating">{{loggedUser.adresa}}</td>
        <td *ngIf="updating">
            <input type="text" [(ngModel)]="updatedUser.adresa">
        </td>
    </tr>
    <tr>
        <td><b>E-mail adresa:</b></td>
        <td *ngIf="!updating">{{loggedUser.mejl}}</td>
        <td *ngIf="updating">
            <input type="text" [(ngModel)]="updatedUser.mejl">
        </td>
    </tr>
    <tr>
        <td><b>Telefon:</b></td>
        <td *ngIf="!updating">{{loggedUser.telefon}}</td>
        <td *ngIf="updating">
            <input type="text" [(ngModel)]="updatedUser.telefon">
        </td>
    </tr>
    <tr colspan="2">
        <button (click)="updating=true" *ngIf="!updating">Azuriraj</button>
        <button (click)="updateUser()" *ngIf="updating">Posalji</button>
    </tr>
</table>

<button><a routerLink="/changePassword" style="color:white; text-decoration: none;">Promeni lozinku</a></button>

<footer>
    <a href="" style="color:white" (click)="logout()">Odjavi se</a>
</footer>