<header>
    <h3 class="naslov">Lekarska ordinacija Petrov</h3>
</header>


<h4>Promeni lozinku:</h4>
<br>
<table>
    <tr>
        <td>Stara lozinka: </td>
        <input type="password" [(ngModel)]="oldPass">
    </tr>
    <tr>
        <td>Nova lozinka: </td>
        <input type="password" [(ngModel)]="newPass">
    </tr>
    <tr>
        <td>Potvrdi lozinku: </td>
        <input type="password" [(ngModel)]="confPass">
    </tr>
    <tr colspan="2">
        <button (click)="changePass()">Promeni lozinku</button>
    </tr>
</table>

<output style="color:red">{{this.message}}</output>


<footer>
    <a style="color:white; text-decoration: underline;" (click)="back()">Nazad</a>
    &nbsp;&nbsp;&nbsp;
    <a style="color:white; text-decoration: underline;" (click)="logout()">Odjavi se</a>
</footer>